*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
}

nav{
    height: 10vh;
    width: 100vw;
    background-color: #131c27;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    color:white;
    font-family: 'Pattaya', sans-serif;
    margin-left: 2rem;
}

main {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;

}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: white;
    padding-right: 8vw;
}

section {
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    font-size: 4rem;
    margin-bottom: 2rem;
}

p {
    color: white;
    font-size: 2rem;
}

button {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    background-color: #4c6e97;
    color: white;
    font-size: 1rem;
}

.beyond {  
    background-image: url(./foto/landing-page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.explore {
   

    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: gray;
    background: linear-gradient(rgba(0,0,0, 0.5), transparent), url(./foto/new-york-page.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.explorep {
    color: white;
    font-size: 1.8rem;
    margin-left: 5vw;
}

.exploreh2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-left: 5vw;
    color: white;
    border-bottom: 0.5rem solid white;
    max-width: 33vw;
}

header {
    background-color: #131c27;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 25vh;
}

.cards-content {
    display: flex;
    justify-content: space-evenly;
}

.travelh2 {
    font-size: 2rem;
}

.travelp {
  font-size: 1.5rem;
}

.cards {
    
    max-width: 20vw;
    max-height: 55vh;
    background-color: white;
    box-shadow: 4px 10px 40px 0px rgba(0,0,0,0.75);
}

.cardp {
    color: black;
    font-size: 1rem;
}

.cardh2 {
    color: black;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.cardheader {
    background-color: #131c27;
    padding: 1rem;
    margin-top: 2rem;
}

.content {    
    padding: 1rem;
}

.route {
    width: 5vw;
    height: 5vh;
}

h3 {
    margin-bottom: 2vh;
    
}


