
ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

li {
  margin-left: 3rem;
  color: blue;
  font-size: 1.5rem;
}


.logo {
  display: flex;
  position: relative;
  text-decoration: none;
}

.login {
  display: flex;
  position: relative;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}